<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
	<script type="text/javascript">
		function SongsController($scope, $http) {
			var songsApi = "http://localhost:3000/songs";

			$scope.songs = [];

			var poll;
			poll = function() {
				$http.get(songsApi, {responseType: "json"})
					.success(function(data, status, headers, config) {
						$scope.songs = data;
					});
				setTimeout(poll, 5000);
			}
			poll();

			$scope.searchArtist = function(artist) {
				console.log("Search artist: " + artist);
			}

			$scope.searchTrack = function(track) {
				console.log("Search track: " + track);
			}

			$scope.addSong = function() {
				var mangleEntry = function(artist, track) {
					return (artist + track).toLowerCase().replace(/[^\w\s]/g, "");
				};

				var artist = $scope.newArtist,
					track = $scope.newTrack,
					requestedBy = $scope.requestedBy,
					entryId = mangleEntry(artist, track);

				var song = {artist: artist, track: track, "requested-by": requestedBy};
				var entry = {};
				entry[entryId] = song;
				$http.post(songsApi, entry, {responseType: "json"});
				$scope.songs[entryId] = song;
			}
		}
	</script>
</head>
<body ng-app>
	<div ng-controller="SongsController">
		<div>
			<form ng-submit="addSong()">
				<input type="text" placeholder="Låt" ng-model="newTrack" ng-pattern="/\w+/" ng-change="searchTrack(newTrack)" required/>
				<input type="text" placeholder="Artist" ng-model="newArtist" ng-pattern="/\w+/" ng-change="searchArtist(newArtist)" required/>
				<input type="text" placeholder="Vem önskar?" ng-model="requestedBy" ng-pattern="/\w+/" required/>
				<input type="submit" value="Lägg till"/>
			</form>
		</div>
		<table>
			<tr ng-repeat="song in songs">
				<td>{{song.track}}</td>
				<td>{{song.artist}}</td>
				<td>{{song["requested-by"]}}</td>
			</tr>
		</ul>
	</div>
</body>
</html>
