<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.8/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css"/>
	<script type="text/javascript">
		var songs = angular.module('songs', ['ui.bootstrap']);
		songs.directive('focus', function() {
			return function(scope, element, attrs) {
				scope.$watch(attrs.focus, function (newValue) { 
					scope.$eval(newValue) && element.focus();
			 	}, true);
			  };
		});
		songs.controller("SongsController", function ($scope, $http, $sce) {
			//var songsApi = "http://anchorsleft.com/songs";
			var songsApi = "http://localhost:3000/songs";

			$scope.songs = [];
			$scope.spotifyTrackListUrl = "";

			var poll;
			poll = function() {
				$http.get(songsApi, {responseType: "json"})
					.success(function(songs, status, headers, config) {
						if (songs == null)
							return;

						$scope.songs = songs;
						var trackIds = Object.keys(songs).map(function(key) { return songs[key]['spotify-track-id']; }).join();
						$scope.spotifyTrackListUrl = $sce.trustAsResourceUrl("https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:" + trackIds);
					});
				setTimeout(poll, 5000);
			}
			poll();

			$scope.searchTrack = function(track) {
				return $http.get("http://ws.spotify.com/search/1/track.json", {params: {q: track}})
					.then(function(response) {
						var tracks = response.data.tracks.reduce(function(tracks, track) {
							return tracks.concat(track.artists.map(function(artist) {
								return { name: track.name + " - " + artist.name, track: track.name, artist: artist.name, href: track.href };
							}));
						}, []);
						return tracks;
					});
			}

			var newTrack = null;
			$scope.setNewTrack = function(model) {
				newTrack = model;
			}

			$scope.addSong = function() {
				var mangleEntry = function(artist, track) {
					return (artist + track).toLowerCase().replace(/[^\w]/g, "");
				};

				var track = newTrack.track,
					artist = newTrack.artist
					requestedBy = $scope.requestedBy,
					entryId = mangleEntry(artist, track);

				var song = {
					"artist": artist,
					"track": track,
					"requested-by": requestedBy,
					"spotify-track-id": newTrack.href.split(":").pop()
				};
				var entry = {};
				entry[entryId] = song;
				$http.post(songsApi, entry, {responseType: "json"});
				$scope.songs[entryId] = song;
				$scope.newTrack = null;
				$scope.requestedBy = null;
			}
		});
	</script>
	<style type="text/css">
		.song-list {
			width: 100%;
			line-height: 1.5em;
		}

		.song-list td {
			padding: 5px;
		}

		.song-list thead input[type="text"] {
			border-radius: 2px;
			border: 1px solid #ddd;
			width: 100%;
			padding: 6px 12px;
		}

		.song-list .ruler div {
			border-top: 1px solid #ddd;
		}
	</style>
</head>
<body ng-app="songs">
	<div ng-controller="SongsController">
		<table class="song-list">
			<thead>
				<tr>
					<td colspan="2">
						<input type="text"
							focus="newTrack == null"
							ng-model="newTrack"
							typeahead-on-select="setNewTrack($model)"
							typeahead-min-length="2"
							typeahead="track as track.name for track in searchTrack($viewValue)"
							typeahead-wait-ms="300"
							placeholder="Låt"
							ng-pattern="/\w+/"
							required/>
					</td>
					<td>
						<input type="text"
							placeholder="Vem önskar?"
							ng-model="requestedBy"
							ng-pattern="/\w+/"
							required/>
					</td>
					<td>
						<input ng-click="addSong()" class="btn btn-default" type="submit" value="Önska"/>
					</td>
				</tr>
				<tr class="ruler">
					<td><div></div></td>
					<td><div></div></td>
					<td colspan="2"><div></div></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="song in songs">
					<td>{{song.track}}</td>
					<td>{{song.artist}}</td>
					<td colspan="2">{{song["requested-by"]}}</td>
				</tr>
			</tbody>
		</table>
		<iframe ng-src="{{spotifyTrackListUrl}}" frameborder="0" allowtransparency="true"></iframe>
	</div>
</body>
</html>
 